html, body {
  height: 100%;
  background: #222;
  overflow-x: hidden;
}

.container-fluid {
  height: 100%;
}

.yAxis path {
  stroke-width: 0;
}

g .red {
  fill: red;
}

g .green {
  fill: green;
}

g .blue {
  fill: blue;
}

g .yellow {
  fill: yellow;
}

g .cyan {
  fill: cyan;
}

g .purple {
  fill: purple;
}

g .black {
  fill: black;
}

g .gray {
  fill: gray;
}

g .white {
  fill: white;
}

.labelsGroup text {
  font-size: 2em;
}

/* ITERATION 5 */
.axis path, .tick line {
  fill: none;
  stroke-width: 0px;
}

#xAxisDiv {
  margin-top: 50px;
}

.buttonDiv {
  padding: 20px;
  position: fixed;
  z-index: 100;
}

.tick text {
  font-size: 2em;
  fill: #AAA;
}

#selectedImage {
  max-width: 80%;
  max-height: 400px;
}

#rightSidebar {
  color: white;
  height: 100%;
}

#imageDetails {
  opacity: 0;
  margin-top: 75px;
}

#imageDetails a {
  color: #AAAAFF;
}
